

/* === ESTILOS GERAIS === */
body {
     background-color: gray;
     color: white;
     font-family: arial;
     font-size: 20px;
     font-weight: bold;
}


h1 {
      background-color: black;
      font-style: italic;
      text-align: center;
      font-size: 40px;
}


h3 {
         font-style: italic;
         font-size: 20px;
}


/* === ELEMENTOS DE TEXTO === */
p {
   margin-top: 3cm;
}


/* === ÁREAS FIXAS === */
.superior_esquerda {
      background-color: green;
      border: 5px solid white;
      border-color: white;
      height: 300px;
      width: 600px;
      position: fixed;
      top: 0px;
      left: 0px;
}


.superior_direita {
   background-color: blue;
   border: 5px solid white;
   height: 300px;
   width: 300px;
   position: fixed;
   top: 20px;
   right: 10px;
}  


.esquerda_inferior {
   /*ainda sem estilo definido*/
}

/* === ÁREA CENTRAL === */
.centro {
   border: 5px solid white;
   position: fixed;
   height: 600px;
   width: 600px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   box-shadow: 0 0 50px white
}


/* === CAMPOS E BOTÕES === */
#caixa {
         background: white;
         border-radius: 20px;
         height: 30px;
         border: 4px solid;

  }


#caixa: focus {
   font-size: large;
   background: white;
   border: 3px solid;
   color: blue;
   box-shadow: 0 0 30px;
}


#botao {
   height: 45px;
   width: 150px;
   background: black;
   color: yellow;
   font-size: medium;
   border: 2px solid;
   box-shadow: 0 0 6px;
   border-radius: 100px;

}


#botao:hover {
   font-size: xx-large;
   color: red;
   box-shadow: 0 0 30px red;

}
